<!-- ======= Header ======= -->
<header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="#hero">Eduardo Conte</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://api.whatsapp.com/send?phone=5548988465221&text=Ol%C3%A1+Eduardo%21+Vi+seu+curr%C3%ADculo+online+e+gostaria+de+conversar+contigo." target="_blank"><i class="bx bxl-whatsapp"></i></a>
          <a href="https://www.linkedin.com/in/eduardo-conte-9b9b57116/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="mailto:edu.conte@outlook.com"><i class='bx bx-envelope'></i></a>
          <a href="https://github.com/eduardo-conte"><i class='bx bxl-github'></i></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="#hero"><i class="bx bx-home"></i> <span>Início</span></a></li>
          <li><a href="#sobre"><i class="bx bx-user"></i> <span>Sobre</span></a></li>
          <li><a href="#competencias"><i class="bx bx-brain"></i> Competências</a></li>
          <li><a href="#trajetoria"><i class="bx bxs-flag-checkered"></i> <span>Trajetória</span></a></li>
          <li><a href="#conquistas"><i class="bx bx-medal"></i> Conquistas</a></li>
          <li><a href="#contato"><i class="bx bx-envelope"></i> Contato</a></li>

        </ul>
      </nav><!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header><!-- End Header -->